*{
    position: relative;
top: 0px;
left: 0px;

opacity: 1;
}

.main{
    width: 1245px;
    left: 220px;
    text-align: left;
    letter-spacing: 0px;
}
.aw{
    top: 150px;
    width: 251px;
    height: 30px;
    font: normal normal 600 30px/110px Cormorant SC;
    color: #FF3147;
    text-transform: uppercase;
    
}
.digi{
    top: 175px;
    width: 614px;
    height: 140px;
    font: normal normal bold 60px/80px Cormorant SC;
    color: #000000;
    text-transform: uppercase;
    
}
.b{
    top: -465px;
    width: 160px;
    left: -605px;
    height: 50px;
    color: #fff;
    background: #ff3147 0% 0% no-repeat padding-box;
    border-radius: 5px 5px;
    cursor: pointer;
    text-transform: uppercase;
    
}
.i1{
    top: -314px;
    left: 640px;
    width: 604px;
    height: 710px;
    background: transparent 0% 0% no-repeat padding-box;
    
}
.pa{
    
    top: 185px;
    width: 585px;
height: 83px;
font: normal normal normal 19px/30px Poppins;
color: #000000;

}
.popup{
    width: 500px;
    height: 350px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
    position: absolute;
    top: -465px;
    left: 20%;
    transform: translate(-80%,7%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}
.open-popup{
    visibility: visible;
    top: 35%;
    transform: translate(-10%,-50%) scale(1);

}
.popup .inputbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
    
}
.popup .inputbox1{
    position: relative;
    width: 49%;
    left: -5px;
    margin-top: 20px;
    display: inline-block;
    
}

.popup .cbox{
    
    left: -30px;
    top: 40px;
    accent-color:#ff3147 ;
    
}
.popup .closebtn{
    
    left: 260px;
    top: -245px;
    width: 30px;
    height: 30px;
    accent-color:#ff3147 ;
    
}
.popup .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
    
}
.popup .inputbox1 input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
    
}
.popup .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    
}
.popup .inputbox1 span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    
}
.popup .inputbox input:focus ~ span,
.popup .inputbox input:valid ~ span,
.popup .inputbox1 input:focus ~ span,
.popup .inputbox1 input:valid ~ span
{
    
    color: #666;
    font-size: 16px;
    transform: translateY(-20px);


}
.popup h3{
    left: -10px;
    width: 100px;
    top: 10px;
}
.popup form{
    width: 500px;
}


.popup button{
    top: 80px;
    width: 480px;
    height: 40px;

    font-size: 16px;
    
    color: #fff;
    background: #FF3147 20% 20% no-repeat padding-box;
    border-radius: 5px 5px;
    cursor: pointer;

}
.m2{
    width: 1245px;
}
.aw2{
    top: 15px;
    width: 205px;
    left: 240px;
    height: 30px;
    font: normal normal 600 24px/110px Cormorant SC;
    color: #FF3147;
    text-transform: uppercase;
    
}
.digi2{
    top: 25px;
    width: 488px;
    height: 140px;
    left: 240px;
    font: normal normal bold 45px/80px Cormorant SC;
    color: #000000;
    text-transform: uppercase;
    
}
.m3{
    width: 1245px;
}
.aw3{
    top: 0px;
    text-align: center;
    width: auto;
    height: 30px;
    left:120px;
    font: normal normal 600 24px/110px Cormorant SC;
    color: #FF3147;
    text-transform: uppercase;
    
}
.digi3{
    top: 25px;
    text-align: center;
    width: auto;
    left: 120px;
    height: 140px;
    font: normal normal bold 45px/80px Cormorant SC;
    color: #000000;
    text-transform: uppercase;
    
}
.aw4{
    top: 0px;
    text-align: center;
    width: auto;
    height: 30px;
    left:0px;
    font: normal normal 600 24px/110px Cormorant SC;
    color: #FF3147;
    text-transform: uppercase;
    
}
.digi4{
    top: 25px;
    text-align: center;
    width: auto;
    left: 0px;
    height: 140px;
    font: normal normal bold 45px/80px Cormorant SC;
    color: #000000;
    text-transform: uppercase;
    
}
.mtext1{
    display: flex;
    flex-wrap: nowrap;
    height: 280px;
    width: 1160px;
    left: 215px;
    top: -40px;
    gap: 141px;
}
.mtext1 h4 p{
    left: 5px;
}


.bx{
    display: flex;
    flex-wrap:nowrap;
    height: 200px;
    width: 1160px;
    left: 305px;
    top: 6px;
    gap: 141px;
    cursor: pointer;
}
.bx div img{
    left: 45px;
}
.bx div h1{
    left: 25px;
    font: normal normal normal 45px/30px Poppins;
}
.bx div p{
    left: 15px;
    
}
.bx div:hover{
    top: 5px;
    width: 150px;
    height: 200px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);
    transition: transform 0.4s, top 0.4s;
}

.pic img{
    left: 255px;
    width: 700px;
    height: 450px;
}
 .hov{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    height: 100px;
    width: 228px;
    left: 990px;
    top: -450px;
    gap: 25px;
    
}


.flexb{
    border-radius: 6px;
    background: #e0d8d8;
    
}
.flexb:hover{
    background: #FF3147;
    color: #fff;
    
}
.hov h4 p{
    left: 5px;
}
.pa2{
    
    top: -120px;
    width: 567px;
    height: 83px;
    font: normal normal normal 19px / 30px Poppins;
    color: #000000;
    left: 740px;

}

.slider {
    position: relative;
    max-width: 347px;
    margin: auto;
}

.slides {
    display: flex;
    overflow: hidden;
    top: -81px;
    left: -335px;
    width: 347px;
    height: 497px;
}

.slide {
    position: relative;
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay .text {
    padding: 20px;
}

.overlay .text h4 {
    margin-bottom: 10px;
}

.overlay .text p {
    margin-bottom: 20px;
}

.overlay .text a {
    background-color: white;
    color: red;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.dots {
    text-align: left;
    padding: 20px;
    top: -65px;
    left: 218px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.text{
    font: normal normal normal 19px / 30px Poppins;
}
.active, .dot:hover {
    background-color: #ff3147;
}
